@import 'react-quill/dist/quill.snow.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  
  background: linear-gradient(
    -53.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.gradient-text {
  @apply bg-gradient-to-r from-red-500 via-red-600 to-red-700;
  -webkit-background-clip: text;
  color: transparent;
}

.ql-container {
  display: flex;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(105, 233, 190, 0.05);
  font-size: medium;
  color:#e2e8f0;
}

.ql-editor {
  min-width: 400px;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #e2e8f0;
}

body {
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100%;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: #eee;
  outline: none;
  transition: all 0.3s ease;
  width: 404px;
}
footer {
  min-height: 10vh;
}


.search-input:focus {
  border-color: #e96a66;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


.hamburger-btn {
  color: #F87171;
  background-color: transparent;
}

.hamburger-btn:hover,
.hamburger-btn:focus {
  color: #DC2626;
}

.hamburger-btn.open {
  color: #DC2626;
}

